<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SportCollage</title>
    <meta name="description" content="专注运动方面的社区平台，提供运动装备资讯，活动资讯，等服务。"/>
    <meta name="keywords" content="SportCollage 讨论 鉴赏 分享"/>
    <link rel="shortcut icon" href="img/SportCollage.jpg"/>
    <link rel="apple-touch-icon" href="img/SportCollage.jpg">
    <meta name="msapplication-TileColor" content="#009a61"/>
    <meta name="msapplication-square150x150logo" content="img/SportCollage.jpg"/>
    <!-- 修改标签栏图标 -->
    <link rel="shortcut icon" href="img/SportCollage.jpg">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/sc_base.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/sc_base.js"></script>

    <!--[if lt IE 9]-->
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->
</head>
<body class="qa-index">
<!--[if lt IE 9]>
<div class="alert alert-danger topframe" role="alert">你的浏览器实在
    <strong>太太太太太太旧了</strong>，放学别走，升级完浏览器再说
    <a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a>
</div>
<[endif]-->
<div class="global-nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SportCollage</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown_news">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">资讯<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown_comment">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">点评<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown_events">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">活动<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li class="opts__item message has-unread">-->
                        <!--<a target="_blank" href="/tour">-->
                            <!--<span class="sr-only">消息</span>-->
                            <!--<span id="messageCount" class="fa fa-hand-peace-o"></span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!-- 登录部分按钮-->
                    <li class="opts__item">
                        <a href="/user/login" class="SCLogin em ml10" onClick="">注册 &middot; 登录</a>
                    </li>
                    <!-- 登录部分按钮-->
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div><!-- /.navbar-collapse -->
            <!-- 标签栏 start -->
            <div class="global-navTags">
                <div class="container">
                    <nav class=" nav">
                        <ul class="nav__list">
                            <li class="nav__item"><a href="/" class="active"><i class="fa fa-home"></i>home</a></li>
                            <li class="nav__item"><a href="/timeline"><i class="fa fa-list-alt"></i>feed</a></li>
                            <li class="nav__item nav__item--split"><a><span class="split"></span></a></li>

                            <li class="nav__item tag-nav__item"><a href="/t/javascript">背包</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/php">服装</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/python">鞋袜</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/java">登山杖</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/mysql">睡袋</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/ios">炊具</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/android">灯具</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/node.js">水具</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/linux">防潮垫</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/c%2B%2B">电子导航</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/css3">冰岩绳索</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/ruby">头具</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/golang">自行车</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/vim">智能穿戴</a></li>
                            <li class="nav__item tag-nav__item"><a href="/t/docker">综合装备</a></li>

                            <li class="nav__item nav__item--more" data-open="0">
                                <a class="nav__item--more-link" href="/tags">
                                    <div class="tag__more">
                                        <i class="tag__more--icon"></i>
                                        <i class="tag__more--icon"></i>
                                        <i class="tag__more--icon"></i>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <div class="tag-mgr__box hide">
                            <input class="tag-mgr__query" type="text" placeholder="搜索关注的标签" data-tags='null'>
                            <ul class="tag-mgr__list mCustomScrollbar" data-mcs-theme="minimal-dark"></ul>
                            <a href="/tags" class="btn btn-primary btn-sm tag-mgr__btn">标签管理</a>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- 标签栏 end -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

</body>
</html>