.navbar-default {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.navbar-header .navbar-brand {
    float: left;
    margin: 0
}

.navbar-header .navbar-brand a {
    text-decoration: none;
    float: left
}

.global-nav {
    position: relative;
    z-index: 3
}

.global-nav .navbar-brand {
    float: left;
    margin: 0
}

.global-nav .navbar-default {
    height: 51px;
    padding: 0 15px
}

.opts__item {
    width: 114px;
    margin-right: 15px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container:after, .container:before {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.global-navTags {
    background-color: #005f3c;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24)
}

.global-navTags nav {
    position: relative
}

.global-navTags nav .nav__list {
    height: 34px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0
}

.global-navTags nav .nav__list:after {
    content: '';
    display: block;
    clear: both
}

.global-navTags nav .nav__item {
    display: inline-block;
    padding: 0
}

.global-navTags nav .nav__item:first-child > a {
    padding-left: 0
}

.global-navTags nav .nav__item .fa {
    margin-right: 5px
}

.global-navTags nav .nav__item a {
    display: block;
    padding: 10px;
    color: #9dccb6;
    white-space: nowrap;
    line-height: 1
}

.global-navTags nav .nav__item .active {
    color: #fff
}

.global-navTags nav .nav__item--more {
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    width: 34px;
    background-color: #005f3c
}

.global-navTags nav .nav__item--more:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    width: 20px;
    height: 100%;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNWYzYyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDVmM2MiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-linear-gradient(0deg, rgba(0, 95, 60, 0), #005f3c);
    background-image: linear-gradient(90deg, rgba(0, 95, 60, 0), #005f3c)
}

.global-navTags .tag-nav__list {
    display: inline-block
}

.global-navTags .tag-nav__item {
    padding: 0
}

.global-navTags .tag-nav__item a {
    text-decoration: none
}

.global-navTags .tag-nav__item a:hover {
    background-color: hsla(0, 0%, 100%, .15)
}

.global-navTags .tag__more {
    width: 18px;
    padding: 6px 0
}

.global-navTags .tag__more:after {
    content: '';
    clear: both;
    display: block
}

.global-navTags .tag__more .tag__more--icon {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #9dccb6;
    border-radius: 50%;
    float: left;
    margin-right: 3px
}

.global-navTags .tag__more .tag__more--icon:last-child {
    margin-right: 0
}